In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gc

In [15]:
admision= pd.read_csv('admission.csv', delimiter= ';')
admision= admision.drop(['Unnamed: 0'], axis=1)

In [14]:
datasignal = pd.read_csv('signal.csv', delimiter= ';')
datasignal= datasignal.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [16]:
age=pd.read_csv('age.csv', delimiter= ';')
age= age.drop(['Unnamed: 0'], axis=1)

In [53]:
df_median = pd.DataFrame(datasignal.groupby(['pat_id','day','parameter'])['value'].median())
df_median.columns = ['median']
df_median.reset_index(drop=False,inplace=True)
df_mean = pd.DataFrame(datasignal.groupby(['pat_id','day','parameter'])['value'].mean())
df_mean.columns = ['mean']
df_mean.reset_index(drop=False,inplace=True)
df_std = pd.DataFrame(datasignal.groupby(['pat_id','day','parameter'])['value'].std())
df_std.columns = ['std']
df_std.reset_index(drop=False,inplace=True)

In [59]:

merged = pd.merge(df_median,df_mean, on=['pat_id','day','parameter'])
merged = pd.merge(merged,df_std, on=['pat_id','day','parameter'])

del [df_median, df_mean, df_std]
gc.collect()

       pat_id         day         parameter      median        mean        std
0           0  2016-01-05    blood_pressure  104.543181  104.543181        NaN
1           0  2016-01-06    blood_pressure  137.166253  136.203959   7.667528
2           0  2016-01-06  respiration_rate    2.000000    4.218889   3.531453
3           0  2016-01-07    blood_pressure  128.866336  129.798553   4.752183
4           0  2016-01-07  respiration_rate    2.000000    2.000000   0.008944
5           0  2016-01-07       temperature   35.746152   35.746152   0.358990
6           1  2014-07-04    blood_pressure  119.001169  117.205215   8.286150
7           1  2014-07-04  respiration_rate    6.000000    5.333333   5.033223
8           1  2014-07-04       temperature   35.994868   36.302564   0.717951
9           1  2014-07-05    blood_pressure  123.448920  130.234407  11.656572
10          1  2014-07-05       temperature   37.279485   37.278204   0.295791
11          1  2014-07-06    blood_pressure  133.000585  132.951555   8.235665
12          1  2014-07-06       temperature   37.738460   37.772648   0.258115
13          3  2014-10-16    blood_pressure  123.867333  123.877557   0.850213
14          3  2014-10-17    blood_pressure  132.883668  136.123143  11.033755
15          3  2014-10-17  respiration_rate   11.995000   13.298000   6.500142
16          3  2014-10-17       temperature   37.738460   37.738460   0.290095
17          3  2014-10-18    blood_pressure  126.882503  127.389966  10.448150
18          3  2014-10-18  respiration_rate    8.000000    8.333333   0.766996
19          3  2014-10-18       temperature   37.225639   37.168202   0.265740
20          3  2014-10-19    blood_pressure  122.549753  121.955468  10.781423
21          3  2014-10-19  respiration_rate    7.995000    7.147143   3.008934
22          3  2014-10-19       temperature   37.328203   37.227350   0.268450
23          3  2014-10-20    blood_pressure  102.833669  107.502751  10.852083
24          3  2014-10-20  respiration_rate    6.010000    6.335000   1.432541
25          3  2014-10-20       temperature   37.333332   37.333332        NaN
26          4  2015-02-06    blood_pressure  104.409209  108.758589  14.280373
27          4  2015-02-06  respiration_rate    6.000000    7.330000   2.312293
28          4  2015-02-07    blood_pressure  119.000836  120.313955   9.181572
29          4  2015-02-07  respiration_rate    5.000000    5.001667   1.044508
...       ...         ...               ...         ...         ...        ...
10222    1562  2015-06-08    blood_pressure  176.801164  175.943747  12.320220
10223    1562  2015-06-08  respiration_rate    6.000000    6.000769   0.008623
10224    1562  2015-06-08       temperature   36.102565   36.104274   0.002961
10225    1562  2015-06-09    blood_pressure  170.766005  170.226321  11.133006
10226    1562  2015-06-09  respiration_rate    5.995000    5.996667   0.008165
10227    1562  2015-06-09       temperature   36.312821   36.312821        NaN
10228    1563  2015-07-25    blood_pressure  174.284002  174.527318  21.378117
10229    1563  2015-07-25  respiration_rate    5.010000    7.799000   5.284324
10230    1563  2015-07-26    blood_pressure  162.000496  166.926785  17.478528
10231    1563  2015-07-26  respiration_rate    4.000000    3.203000   1.682875
10232    1563  2015-07-26       temperature   37.441024   37.441024   0.000000
10233    1564  2016-07-29    blood_pressure  117.153079  114.817018   9.050849
10234    1564  2016-07-29  respiration_rate   10.005000   14.007500  10.833283
10235    1564  2016-07-29       temperature   38.979487   38.979487        NaN
10236    1564  2016-07-30    blood_pressure  107.534001  108.106979   6.579025
10237    1564  2016-07-30  respiration_rate    1.995000    2.373750   1.506319
10238    1564  2016-07-30       temperature   37.438460   37.438460   0.003626
10239    1565  2015-04-21    blood_pressure  114.033586  115.826663  14.660950
10240    1565  2015-04-21  respiration_rate   10.000000   10.000000   0.010000
10241    1565  2015-04-22    blood_pressure   89.566836   91.652400   7.703825
10242    1565  2015-04-22  respiration_rate    9.990000    9.775556   0.665885
10243    1567  2015-01-31    blood_pressure  108.317835  107.610586   5.166330
10244    1567  2015-01-31  respiration_rate    6.010000    7.496250   2.065035
10245    1567  2015-01-31       temperature   37.082053   37.156411   0.272695
10246    1567  2015-02-01    blood_pressure  117.400335  119.349558   5.175874
10247    1567  2015-02-01  respiration_rate    6.000000    6.000000   0.010000
10248    1568  2016-01-18    blood_pressure  117.266335  124.125272  14.677077
10249    1568  2016-01-18  respiration_rate   10.010000   10.010000        NaN
10250    1568  2016-01-19    blood_pressure  137.782504  141.625414   9.573290
10251    1568  2016-01-19  respiration_rate    4.000000    4.854286   1.071741

[10252 rows x 6 columns]

In [62]:
merged = pd.merge(merged,age, on=['pat_id'])

In [64]:
del [age]
gc.collect()

211

In [72]:
merged.isnull().sum()

pat_id         0
day            0
parameter      0
median         0
mean           0
std          977
age            0
dtype: int64

In [70]:
datasignal.isnull().sum()

pat_id       0
day          0
hour         0
parameter    0
value        0
dtype: int64

In [75]:
merged = pd.merge(merged, admision, on=['pat_id'])

In [76]:
del [admision]
gc.collect()

376

In [78]:
merged['admision']= np.where(merged['day'] == merged['date_discharge'], 'Y', 'N')

In [80]:
merged['admision']= np.where(merged['day'] == merged['date_admission'], 'X',merged['admision'] )

In [83]:
merged.pop('date_admission')
merged.pop('date_discharge')

0        2016-01-07
1        2016-01-07
2        2016-01-07
3        2016-01-07
4        2016-01-07
5        2016-01-07
6        2014-07-06
7        2014-07-06
8        2014-07-06
9        2014-07-06
10       2014-07-06
11       2014-07-06
12       2014-07-06
13       2014-10-20
14       2014-10-20
15       2014-10-20
16       2014-10-20
17       2014-10-20
18       2014-10-20
19       2014-10-20
20       2014-10-20
21       2014-10-20
22       2014-10-20
23       2014-10-20
24       2014-10-20
25       2014-10-20
26       2015-02-07
27       2015-02-07
28       2015-02-07
29       2015-02-07
            ...
11103    2015-06-09
11104    2015-06-09
11105    2015-06-09
11106    2015-06-09
11107    2015-06-09
11108    2015-06-09
11109    2015-07-26
11110    2015-07-26
11111    2015-07-26
11112    2015-07-26
11113    2015-07-26
11114    2016-07-30
11115    2016-07-30
11116    2016-07-30
11117    2016-07-30
11118    2016-07-30
11119    2016-07-30
11120    2015-04-22
11121    2015-04-22
11122    2015-04-22
11123    2015-04-22
11124    2015-02-01
11125    2015-02-01
11126    2015-02-01
11127    2015-02-01
11128    2015-02-01
11129    2016-01-19
11130    2016-01-19
11131    2016-01-19
11132    2016-01-19
Name: date_discharge, Length: 11133, dtype: object

In [107]:
pd.merge(merged, merged.pivot(index=None, columns='parameter', values='median'), left_index= True, right_index= True)

,pat_id,day,parameter,median,mean,std,age,admision,blood_pressure,respiration_rate,temperature
0,0,2016-01-05,blood_pressure,104.543181,104.543181,NaN,35.0,X,104.543181,NaN,NaN
1,0,2016-01-06,blood_pressure,137.166253,136.203959,7.667528,35.0,N,137.166253,NaN,NaN
2,0,2016-01-06,respiration_rate,2.000000,4.218889,3.531453,35.0,N,NaN,2.000,NaN
3,0,2016-01-07,blood_pressure,128.866336,129.798553,4.752183,35.0,Y,128.866336,NaN,NaN
4,0,2016-01-07,respiration_rate,2.000000,2.000000,0.008944,35.0,Y,NaN,2.000,NaN
5,0,2016-01-07,temperature,35.746152,35.746152,0.358990,35.0,Y,NaN,NaN,35.746152
6,1,2014-07-04,blood_pressure,119.001169,117.205215,8.286150,77.0,X,119.001169,NaN,NaN
7,1,2014-07-04,respiration_rate,6.000000,5.333333,5.033223,77.0,X,NaN,6.000,NaN
8,1,2014-07-04,temperature,35.994868,36.302564,0.717951,77.0,X,NaN,NaN,35.994868
9,1,2014-07-05,blood_pressure,123.448920,130.234407,11.656572,77.0,N,123.448920,NaN,NaN
10,1,2014-07-05,temperature,37.279485,37.278204,0.295791,77.0,N,NaN,NaN,37.279485
11,1,2014-07-06,blood_pressure,133.000585,132.951555,8.235665,77.0,Y,133.000585,NaN,NaN
12,1,2014-07-06,temperature,37.738460,37.772648,0.258115,77.0,Y,NaN,NaN,37.738460
13,3,2014-10-16,blood_pressure,123.867333,123.877557,0.850213,61.0,X,123.867333,NaN,NaN
14,3,2014-10-17,blood_pressure,132.883668,136.123143,11.033755,61.0,N,132.883668,NaN,NaN
15,3,2014-10-17,respiration_rate,11.995000,13.298000,6.500142,61.0,N,NaN,11.995,NaN
16,3,2014-10-17,temperature,37.738460,37.738460,0.290095,61.0,N,NaN,NaN,37.738460
17,3,2014-10-18,blood_pressure,126.882503,127.389966,10.448150,61.0,N,126.882503,NaN,NaN
18,3,2014-10-18,respiration_rate,8.000000,8.333333,0.766996,61.0,N,NaN,8.000,NaN
19,3,2014-10-18,temperature,37.225639,37.168202,0.265740,61.0,N,NaN,NaN,37.225639
20,3,2014-10-19,blood_pressure,122.549753,121.955468,10.781423,61.0,N,122.549753,NaN,NaN
21,3,2014-10-19,respiration_rate,7.995000,7.147143,3.008934,61.0,N,NaN,7.995,NaN
22,3,2014-10-19,temperature,37.328203,37.227350,0.268450,61.0,N,NaN,NaN,37.328203
23,3,2014-10-20,blood_pressure,102.833669,107.502751,10.852083,61.0,Y,102.833669,NaN,NaN
24,3,2014-10-20,respiration_rate,6.010000,6.335000,1.432541,61.0,Y,NaN,6.010,NaN
25,3,2014-10-20,temperature,37.333332,37.333332,NaN,61.0,Y,NaN,NaN,37.333332
26,4,2015-02-06,blood_pressure,104.409209,108.758589,14.280373,27.0,X,104.409209,NaN,NaN
27,4,2015-02-06,respiration_rate,6.000000,7.330000,2.312293,27.0,X,NaN,6.000,NaN
28,4,2015-02-07,blood_pressure,119.000836,120.313955,9.181572,27.0,Y,119.000836,NaN,NaN
29,4,2015-02-07,respiration_rate,5.000000,5.001667,1.044508,27.0,Y,NaN,5.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11103,1562,2015-06-08,blood_pressure,176.801164,175.943747,12.320220,73.0,N,176.801164,NaN,NaN
11104,1562,2015-06-08,respiration_rate,6.000000,6.000769,0.008623,73.0,N,NaN,6.000,NaN
11105,1562,2015-06-08,temperature,36.102565,36.104274,0.002961,73.0,N,NaN,NaN,36.102565
11106,1562,2015-06-09,blood_pressure,170.766005,170.226321,11.133006,73.0,Y,170.766005,NaN,NaN
11107,1562,2015-06-09,respiration_rate,5.995000,5.996667,0.008165,73.0,Y,NaN,5.995,NaN
11108,1562,2015-06-09,temperature,36.312821,36.312821,NaN,73.0,Y,NaN,NaN,36.312821
11109,1563,2015-07-25,blood_pressure,174.284002,174.527318,21.378117,51.0,X,174.284002,NaN,NaN
11110,1563,2015-07-25,respiration_rate,5.010000,7.799000,5.284324,51.0,X,NaN,5.010,NaN
11111,1563,2015-07-26,blood_pressure,162.000496,166.926785,17.478528,51.0,Y,162.000496,NaN,NaN
11112,1563,2015-07-26,respiration_rate,4.000000,3.203000,1.682875,51.0,Y,NaN,4.000,NaN
11113,1563,2015-07-26,temperature,37.441024,37.441024,0.000000,51.0,Y,NaN,NaN,37.441024
11114,1564,2016-07-29,blood_pressure,117.153079,114.817018,9.050849,87.0,X,117.153079,NaN,NaN
11115,1564,2016-07-29,respiration_rate,10.005000,14.007500,10.833283,87.0,X,NaN,10.005,NaN
11116,1564,2016-07-29,temperature,38.979487,38.979487,NaN,87.0,X,NaN,NaN,38.979487
11117,1564,2016-07-30,blood_pressure,107.534001,108.106979,6.579025,87.0,Y,107.534001,NaN,NaN
11118,1564,2016-07-30,respiration_rate,1.995000,2.373750,1.506319,87.0,Y,NaN,1.995,NaN
11119,1564,2016-07-30,temperature,37.438460,37.438460,0.003626,87.0,Y,NaN,NaN,37.438460
11120,1565,2015-04-21,blood_pressure,114.033586,115.826663,14.660950,68.0,X,114.033586,NaN,NaN
11121,1565,2015-04-21,respiration_rate,10.000000,10.000000,0.010000,68.0,X,NaN,10.000,NaN
11122,1565,2015-04-22,blood_pressure,89.566836,91.652400,7.703825,68.0,Y,89.566836,NaN,NaN
11123,1565,2015-04-22,respiration_rate,9.990000,9.775556,0.665885,68.0,Y,NaN,9.990,NaN
11124,1567,2015-01-31,blood_pressure,108.317835,107.610586,5.166330,83.0,X,108.317835,NaN,NaN
11125,1567,2015-01-31,respiration_rate,6.010000,7.496250,2.065035,83.0,X,NaN,6.010,NaN
11126,1567,2015-01-31,temperature,37.082053,37.156411,0.272695,83.0,X,NaN,NaN,37.082053
11127,1567,2015-02-01,blood_pressure,117.400335,119.349558,5.175874,83.0,Y,117.400335,NaN,NaN
11128,1567,2015-02-01,respiration_rate,6.000000,6.000000,0.010000,83.0,Y,NaN,6.000,NaN
11129,1568,2016-01-18,blood_pressure,117.266335,124.125272,14.677077,64.0,X,117.266335,NaN,NaN
11130,1568,2016-01-18,respiration_rate,10.010000,10.010000,NaN,64.0,X,NaN,10.010,NaN
11131,1568,2016-01-19,blood_pressure,137.782504,141.625414,9.573290,64.0,Y,137.782504,NaN,NaN
11132,1568,2016-01-19,respiration_rate,4.000000,4.854286,1.071741,64.0,Y,NaN,4.000,NaN

In [40]:
datasignal = pd.read_csv('signal.csv', delimiter= ';')
datasignal= datasignal.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [100]:
datasignal.pivot(index=None, columns='parameter', values='value')

parameter  blood_pressure  respiration_rate  temperature
0              104.543181               NaN          NaN
1              110.542544               NaN          NaN
2              133.832002               NaN          NaN
3              133.067666               NaN          NaN
4              134.566003               NaN          NaN
5              137.232667               NaN          NaN
6              138.498668               NaN          NaN
7              138.432165               NaN          NaN
8              137.767168               NaN          NaN
9              137.099838               NaN          NaN
10             135.898986               NaN          NaN
11             136.167001               NaN          NaN
12             136.567169               NaN          NaN
13             137.766336               NaN          NaN
14             132.433667               NaN          NaN
15             143.334004               NaN          NaN
16                    NaN             10.00          NaN
17             143.400339               NaN          NaN
18                    NaN             10.01          NaN
19             145.166169               NaN          NaN
20                    NaN              5.99          NaN
21             144.133337               NaN          NaN
22                    NaN              1.99          NaN
23             143.733340               NaN          NaN
24                    NaN              1.99          NaN
25             143.266670               NaN          NaN
26                    NaN              2.00          NaN
27             143.067673               NaN          NaN
28                    NaN              2.00          NaN
29             129.121759               NaN          NaN
...                   ...               ...          ...
99884          117.266335               NaN          NaN
99885          109.333002               NaN          NaN
99886          111.099666               NaN          NaN
99887          116.068170               NaN          NaN
99888          144.902168               NaN          NaN
99889          144.798502               NaN          NaN
99890          131.866667               NaN          NaN
99891                 NaN             10.01          NaN
99892          132.792934               NaN          NaN
99893          134.033668               NaN          NaN
99894                 NaN              6.00          NaN
99895          134.133500               NaN          NaN
99896          138.098504               NaN          NaN
99897                 NaN              6.01          NaN
99898          135.131836               NaN          NaN
99899          136.265168               NaN          NaN
99900                 NaN              5.99          NaN
99901          135.566835               NaN          NaN
99902          137.466503               NaN          NaN
99903                 NaN              3.99          NaN
99904          135.265669               NaN          NaN
99905          139.346927               NaN          NaN
99906                 NaN              3.99          NaN
99907          166.386488               NaN          NaN
99908                 NaN              4.00          NaN
99909          143.166335               NaN          NaN
99910          145.432503               NaN          NaN
99911          144.899670               NaN          NaN
99912                 NaN              4.00          NaN
99913          157.562183               NaN          NaN

[99914 rows x 3 columns]

In [31]:
data=pd.merge(datasignal, datasignal.pivot(index=None, columns='parameter', values='value'), left_index= True, right_index= True)

In [32]:
data= data.drop(['parameter', 'value'], axis=1)

In [26]:
data= data.fillna(value=0, axis=None, inplace=False)

In [115]:
df_median = pd.DataFrame(datasignal.groupby(['pat_id','day','parameter'])['value'].median())
df_median.columns = ['median']
df_median.reset_index(drop=False,inplace=True)
df_mean = pd.DataFrame(datasignal.groupby(['pat_id','day','parameter'])['value'].mean())
df_mean.columns = ['mean']
df_mean.reset_index(drop=False,inplace=True)
df_std = pd.DataFrame(datasignal.groupby(['pat_id','day','parameter'])['value'].std())
df_std.columns = ['std']
df_std.reset_index(drop=False,inplace=True)

       pat_id         day  hour  blood_pressure  respiration_rate  temperature
0           0  2016-01-05    23      104.543181              0.00          0.0
1           0  2016-01-06     0      110.542544              0.00          0.0
2           0  2016-01-06     1      133.832002              0.00          0.0
3           0  2016-01-06     2      133.067666              0.00          0.0
4           0  2016-01-06     3      134.566003              0.00          0.0
5           0  2016-01-06     4      137.232667              0.00          0.0
6           0  2016-01-06     5      138.498668              0.00          0.0
7           0  2016-01-06     6      138.432165              0.00          0.0
8           0  2016-01-06     7      137.767168              0.00          0.0
9           0  2016-01-06     8      137.099838              0.00          0.0
10          0  2016-01-06     9      135.898986              0.00          0.0
11          0  2016-01-06    10      136.167001              0.00          0.0
12          0  2016-01-06    11      136.567169              0.00          0.0
13          0  2016-01-06    12      137.766336              0.00          0.0
14          0  2016-01-06    13      132.433667              0.00          0.0
15          0  2016-01-06    14      143.334004              0.00          0.0
16          0  2016-01-06    14        0.000000             10.00          0.0
17          0  2016-01-06    15      143.400339              0.00          0.0
18          0  2016-01-06    15        0.000000             10.01          0.0
19          0  2016-01-06    16      145.166169              0.00          0.0
20          0  2016-01-06    16        0.000000              5.99          0.0
21          0  2016-01-06    17      144.133337              0.00          0.0
22          0  2016-01-06    17        0.000000              1.99          0.0
23          0  2016-01-06    18      143.733340              0.00          0.0
24          0  2016-01-06    18        0.000000              1.99          0.0
25          0  2016-01-06    19      143.266670              0.00          0.0
26          0  2016-01-06    19        0.000000              2.00          0.0
27          0  2016-01-06    20      143.067673              0.00          0.0
28          0  2016-01-06    20        0.000000              2.00          0.0
29          0  2016-01-06    21      129.121759              0.00          0.0
...       ...         ...   ...             ...               ...          ...
99884    1568  2016-01-18    16      117.266335              0.00          0.0
99885    1568  2016-01-18    17      109.333002              0.00          0.0
99886    1568  2016-01-18    18      111.099666              0.00          0.0
99887    1568  2016-01-18    19      116.068170              0.00          0.0
99888    1568  2016-01-18    20      144.902168              0.00          0.0
99889    1568  2016-01-18    21      144.798502              0.00          0.0
99890    1568  2016-01-18    22      131.866667              0.00          0.0
99891    1568  2016-01-18    22        0.000000             10.01          0.0
99892    1568  2016-01-18    23      132.792934              0.00          0.0
99893    1568  2016-01-19     0      134.033668              0.00          0.0
99894    1568  2016-01-19     0        0.000000              6.00          0.0
99895    1568  2016-01-19     1      134.133500              0.00          0.0
99896    1568  2016-01-19     2      138.098504              0.00          0.0
99897    1568  2016-01-19     2        0.000000              6.01          0.0
99898    1568  2016-01-19     3      135.131836              0.00          0.0
99899    1568  2016-01-19     4      136.265168              0.00          0.0
99900    1568  2016-01-19     4        0.000000              5.99          0.0
99901    1568  2016-01-19     5      135.566835              0.00          0.0
99902    1568  2016-01-19     6      137.466503              0.00          0.0
99903    1568  2016-01-19     6        0.000000              3.99          0.0
99904    1568  2016-01-19     7      135.265669              0.00          0.0
99905    1568  2016-01-19     8      139.346927              0.00          0.0
99906    1568  2016-01-19     8        0.000000              3.99          0.0
99907    1568  2016-01-19     9      166.386488              0.00          0.0
99908    1568  2016-01-19     9        0.000000              4.00          0.0
99909    1568  2016-01-19    10      143.166335              0.00          0.0
99910    1568  2016-01-19    11      145.432503              0.00          0.0
99911    1568  2016-01-19    12      144.899670              0.00          0.0
99912    1568  2016-01-19    12        0.000000              4.00          0.0
99913    1568  2016-01-19    13      157.562183              0.00          0.0

[99914 rows x 6 columns]

In [34]:
df_data = pd.DataFrame(data.groupby(['pat_id','day'])['blood_pressure','respiration_rate','temperature'].mean())
df_data.columns = ['blood_pressure','respiration_rate','temperature']
df_data.reset_index(drop=False,inplace=True)

In [35]:
df_data

      pat_id         day  blood_pressure  respiration_rate  temperature
0          0  2016-01-05      104.543181               NaN          NaN
1          0  2016-01-06      136.203959          4.218889          NaN
2          0  2016-01-07      129.798553          2.000000    35.746152
3          1  2014-07-04      117.205215          5.333333    36.302564
4          1  2014-07-05      130.234407               NaN    37.278204
5          1  2014-07-06      132.951555               NaN    37.772648
6          3  2014-10-16      123.877557               NaN          NaN
7          3  2014-10-17      136.123143         13.298000    37.738460
8          3  2014-10-18      127.389966          8.333333    37.168202
9          3  2014-10-19      121.955468          7.147143    37.227350
10         3  2014-10-20      107.502751          6.335000    37.333332
11         4  2015-02-06      108.758589          7.330000          NaN
12         4  2015-02-07      120.313955          5.001667          NaN
13         5  2014-12-06      158.144724               NaN    38.051281
14         5  2014-12-07      153.800378         10.005455    37.865640
15         5  2014-12-08      160.832146          8.917692    36.920515
16         6  2016-01-16      117.980723         10.001429    36.273502
17         7  2016-09-08      119.307130          6.010000          NaN
18         7  2016-09-09      129.364173          5.296500    37.943589
19         7  2016-09-10             NaN          5.870000    37.923076
20         8  2016-09-12      149.498967          9.495000    35.892308
21         8  2016-09-13      173.254933          7.996000          NaN
22         9  2014-11-19      124.790915               NaN          NaN
23         9  2014-11-20      106.918485          5.820909          NaN
24         9  2014-11-21      132.467822          4.003125    36.517941
25         9  2014-11-22      103.048098               NaN          NaN
26        10  2015-07-02      120.336473          9.326667          NaN
27        10  2015-07-03      101.190010          6.426429    37.058117
28        10  2015-07-04      106.944113          4.222222    37.330767
29        10  2015-07-05      113.777546         -0.010000    37.999999
...      ...         ...             ...               ...          ...
4471    1558  2015-02-20      138.484843         10.004444    37.183332
4472    1559  2014-09-18      140.242493         10.000000    36.483332
4473    1559  2014-09-19      152.217764          9.995714    36.920510
4474    1560  2015-04-18      133.226463               NaN          NaN
4475    1560  2015-04-19      129.861381          4.802000          NaN
4476    1560  2015-04-20             NaN          3.635909    37.403417
4477    1560  2015-04-21             NaN          2.000000    37.300854
4478    1560  2015-04-22             NaN               NaN    37.230767
4479    1561  2014-09-12      109.366613               NaN          NaN
4480    1561  2014-09-13      103.767328               NaN    36.823074
4481    1561  2014-09-14      114.222403               NaN          NaN
4482    1561  2014-09-15      106.277116               NaN          NaN
4483    1561  2014-09-16      101.084578          6.005000          NaN
4484    1561  2014-09-17      113.522489          9.996667          NaN
4485    1561  2014-09-18      112.740445         10.000000    38.051281
4486    1561  2014-09-22       98.907871         10.001538    37.435896
4487    1561  2014-09-23      105.001760          6.002000    36.969232
4488    1562  2015-06-07      167.942897         10.000000    36.917950
4489    1562  2015-06-08      175.943747          6.000769    36.104274
4490    1562  2015-06-09      170.226321          5.996667    36.312821
4491    1563  2015-07-25      174.527318          7.799000          NaN
4492    1563  2015-07-26      166.926785          3.203000    37.441024
4493    1564  2016-07-29      114.817018         14.007500    38.979487
4494    1564  2016-07-30      108.106979          2.373750    37.438460
4495    1565  2015-04-21      115.826663         10.000000          NaN
4496    1565  2015-04-22       91.652400          9.775556          NaN
4497    1567  2015-01-31      107.610586          7.496250    37.156411
4498    1567  2015-02-01      119.349558          6.000000          NaN
4499    1568  2016-01-18      124.125272         10.010000          NaN
4500    1568  2016-01-19      141.625414          4.854286          NaN

[4501 rows x 5 columns]

In [39]:
data[data['pat_id']==7]

     pat_id         day  hour  blood_pressure  respiration_rate  temperature
423       7  2016-09-08    22      111.599004               NaN          NaN
424       7  2016-09-08    23      127.015255               NaN          NaN
425       7  2016-09-08    23             NaN              6.01          NaN
426       7  2016-09-09     0      122.932003               NaN          NaN
427       7  2016-09-09     0             NaN              6.01          NaN
428       7  2016-09-09     1      125.999336               NaN          NaN
429       7  2016-09-09     1             NaN              5.99          NaN
430       7  2016-09-09     2      122.881189               NaN          NaN
431       7  2016-09-09     2             NaN              6.00          NaN
432       7  2016-09-09     3      146.999500               NaN          NaN
433       7  2016-09-09     3             NaN              6.01          NaN
434       7  2016-09-09     4      137.233172               NaN          NaN
435       7  2016-09-09     4             NaN              6.00          NaN
436       7  2016-09-09     5      128.001504               NaN          NaN
437       7  2016-09-09     5             NaN              6.00          NaN
438       7  2016-09-09     6      121.502505               NaN          NaN
439       7  2016-09-09     6             NaN              6.00          NaN
440       7  2016-09-09     7             NaN              6.01          NaN
441       7  2016-09-09     9             NaN              5.99          NaN
442       7  2016-09-09    12             NaN              5.99          NaN
443       7  2016-09-09    13             NaN              5.99          NaN
444       7  2016-09-09    14             NaN              5.99          NaN
445       7  2016-09-09    15             NaN              5.99          NaN
446       7  2016-09-09    16             NaN              5.99          NaN
447       7  2016-09-09    17             NaN              6.01          NaN
448       7  2016-09-09    18             NaN              5.99          NaN
449       7  2016-09-09    19             NaN              6.00          NaN
450       7  2016-09-09    20             NaN              3.99          NaN
451       7  2016-09-09    20             NaN               NaN    37.943589
452       7  2016-09-09    21             NaN             -0.01          NaN
453       7  2016-09-09    23             NaN             -0.01          NaN
454       7  2016-09-10     0             NaN              0.00          NaN
455       7  2016-09-10     0             NaN               NaN    37.635896
456       7  2016-09-10     1             NaN              0.00          NaN
457       7  2016-09-10     2             NaN              0.01          NaN
458       7  2016-09-10     4             NaN              0.00          NaN
459       7  2016-09-10     6             NaN             18.00          NaN
460       7  2016-09-10     6             NaN               NaN    38.158974
461       7  2016-09-10     7             NaN              0.01          NaN
462       7  2016-09-10    10             NaN              0.01          NaN
463       7  2016-09-10    11             NaN               NaN    37.948717
464       7  2016-09-10    12             NaN             10.01          NaN
465       7  2016-09-10    13             NaN             10.00          NaN
466       7  2016-09-10    14             NaN              9.99          NaN
467       7  2016-09-10    15             NaN              8.00          NaN
468       7  2016-09-10    15             NaN               NaN    37.948717
469       7  2016-09-10    16             NaN              8.01          NaN
470       7  2016-09-10    17             NaN              8.00          NaN
471       7  2016-09-10    18             NaN              8.00          NaN
472       7  2016-09-10    19             NaN              8.01          NaN

In [41]:
datasignal[datasignal['pat_id']==7]

     pat_id         day  hour         parameter       value
423       7  2016-09-08    22    blood_pressure  111.599004
424       7  2016-09-08    23    blood_pressure  127.015255
425       7  2016-09-08    23  respiration_rate    6.010000
426       7  2016-09-09     0    blood_pressure  122.932003
427       7  2016-09-09     0  respiration_rate    6.010000
428       7  2016-09-09     1    blood_pressure  125.999336
429       7  2016-09-09     1  respiration_rate    5.990000
430       7  2016-09-09     2    blood_pressure  122.881189
431       7  2016-09-09     2  respiration_rate    6.000000
432       7  2016-09-09     3    blood_pressure  146.999500
433       7  2016-09-09     3  respiration_rate    6.010000
434       7  2016-09-09     4    blood_pressure  137.233172
435       7  2016-09-09     4  respiration_rate    6.000000
436       7  2016-09-09     5    blood_pressure  128.001504
437       7  2016-09-09     5  respiration_rate    6.000000
438       7  2016-09-09     6    blood_pressure  121.502505
439       7  2016-09-09     6  respiration_rate    6.000000
440       7  2016-09-09     7  respiration_rate    6.010000
441       7  2016-09-09     9  respiration_rate    5.990000
442       7  2016-09-09    12  respiration_rate    5.990000
443       7  2016-09-09    13  respiration_rate    5.990000
444       7  2016-09-09    14  respiration_rate    5.990000
445       7  2016-09-09    15  respiration_rate    5.990000
446       7  2016-09-09    16  respiration_rate    5.990000
447       7  2016-09-09    17  respiration_rate    6.010000
448       7  2016-09-09    18  respiration_rate    5.990000
449       7  2016-09-09    19  respiration_rate    6.000000
450       7  2016-09-09    20  respiration_rate    3.990000
451       7  2016-09-09    20       temperature   37.943589
452       7  2016-09-09    21  respiration_rate   -0.010000
453       7  2016-09-09    23  respiration_rate   -0.010000
454       7  2016-09-10     0  respiration_rate    0.000000
455       7  2016-09-10     0       temperature   37.635896
456       7  2016-09-10     1  respiration_rate    0.000000
457       7  2016-09-10     2  respiration_rate    0.010000
458       7  2016-09-10     4  respiration_rate    0.000000
459       7  2016-09-10     6  respiration_rate   18.000000
460       7  2016-09-10     6       temperature   38.158974
461       7  2016-09-10     7  respiration_rate    0.010000
462       7  2016-09-10    10  respiration_rate    0.010000
463       7  2016-09-10    11       temperature   37.948717
464       7  2016-09-10    12  respiration_rate   10.010000
465       7  2016-09-10    13  respiration_rate   10.000000
466       7  2016-09-10    14  respiration_rate    9.990000
467       7  2016-09-10    15  respiration_rate    8.000000
468       7  2016-09-10    15       temperature   37.948717
469       7  2016-09-10    16  respiration_rate    8.010000
470       7  2016-09-10    17  respiration_rate    8.000000
471       7  2016-09-10    18  respiration_rate    8.000000
472       7  2016-09-10    19  respiration_rate    8.010000

In [62]:
admision['pat_id'].value_counts()

1338    4
1163    3
1534    3
1292    3
973     3
884     3
1217    3
1053    2
1027    2
470     2
1490    2
1491    2
850     2
1225    2
899     2
339     2
530     2
472     2
1220    2
840     2
1219    2
1307    2
829     2
1393    2
448     2
1483    2
1481    2
1068    2
1078    2
506     2
       ..
1065    1
1066    1
1067    1
1069    1
1070    1
1071    1
1073    1
1049    1
1048    1
1047    1
1036    1
1026    1
1028    1
1029    1
1030    1
1032    1
1033    1
1034    1
1035    1
1037    1
1046    1
1038    1
1039    1
1040    1
1041    1
1042    1
1043    1
1044    1
1045    1
0       1
Name: pat_id, Length: 1495, dtype: int64

In [63]:
datasignal[datasignal['pat_id']==1338]

       pat_id         day  hour         parameter       value
85006    1338  2014-10-03    13    blood_pressure  239.086574
85007    1338  2014-10-03    13  respiration_rate    4.000000
85008    1338  2014-10-03    14    blood_pressure  198.901505
85009    1338  2014-10-03    14  respiration_rate    4.000000
85010    1338  2014-10-03    15    blood_pressure  202.202016
85011    1338  2014-10-03    15  respiration_rate    0.010000
85012    1338  2014-10-03    15       temperature   37.533332
85013    1338  2014-10-03    16    blood_pressure  179.331848
85014    1338  2014-10-03    17    blood_pressure  182.895692
85015    1338  2014-10-03    18    blood_pressure  173.933171
85016    1338  2014-10-03    18       temperature   37.635896
85017    1338  2014-10-03    19    blood_pressure  144.066501
85018    1338  2014-10-03    20    blood_pressure  145.231175
85019    1338  2014-10-03    21    blood_pressure  146.031170
85020    1338  2014-10-03    21       temperature   37.225639
85021    1338  2014-10-03    22    blood_pressure  141.833335
85022    1338  2014-10-03    23    blood_pressure  165.132333
85023    1338  2014-10-04     0    blood_pressure  171.254745
85024    1338  2014-10-04     0  respiration_rate    0.000000
85025    1338  2014-10-04     1    blood_pressure  172.566990
85026    1338  2014-10-04     2    blood_pressure  172.898163
85027    1338  2014-10-04     3    blood_pressure  176.066180
85028    1338  2014-10-04     3  respiration_rate    0.010000
85029    1338  2014-10-04     4    blood_pressure  176.198839
85030    1338  2014-10-04     5    blood_pressure  176.812886
85031    1338  2014-10-04     5  respiration_rate   -0.010000
85032    1338  2014-10-04     6    blood_pressure  176.032829
85033    1338  2014-10-04     6       temperature   37.851281
85034    1338  2014-10-04     7    blood_pressure  178.300670
85035    1338  2014-10-04     8    blood_pressure  180.732674
...       ...         ...   ...               ...         ...
85311    1338  2015-08-04    11    blood_pressure  164.000826
85312    1338  2015-08-04    11       temperature   37.430768
85313    1338  2015-08-04    12    blood_pressure  159.726795
85314    1338  2015-08-04    13    blood_pressure  179.968842
85315    1338  2015-08-04    14    blood_pressure  179.034510
85316    1338  2015-08-04    15    blood_pressure  180.199848
85317    1338  2015-08-04    16    blood_pressure  194.767351
85318    1338  2015-08-04    17    blood_pressure  183.365834
85319    1338  2015-08-04    18    blood_pressure  183.331506
85320    1338  2015-08-04    19    blood_pressure  175.266497
85321    1338  2015-08-04    19       temperature   37.123079
85322    1338  2015-08-04    20    blood_pressure  183.866494
85323    1338  2015-08-04    21    blood_pressure  143.698338
85324    1338  2015-08-04    22    blood_pressure  146.966507
85325    1338  2015-08-04    23    blood_pressure  140.666837
85326    1338  2015-08-05     0    blood_pressure  138.666668
85327    1338  2015-08-05     1    blood_pressure  153.966169
85328    1338  2015-08-05     2    blood_pressure  168.766162
85329    1338  2015-08-05     3    blood_pressure  177.799002
85330    1338  2015-08-05     4    blood_pressure  180.165846
85331    1338  2015-08-05     5    blood_pressure  159.867164
85332    1338  2015-08-05     6    blood_pressure  185.366512
85333    1338  2015-08-05     6       temperature   37.030771
85334    1338  2015-08-05     7    blood_pressure  160.132520
85335    1338  2015-08-05     8    blood_pressure  173.531343
85336    1338  2015-08-05     9    blood_pressure  185.203151
85337    1338  2015-08-05    14    blood_pressure  194.785372
85338    1338  2015-08-05    15    blood_pressure  192.730589
85339    1338  2015-08-06     6       temperature   37.123079
85340    1338  2015-08-06     8       temperature   37.635896

[335 rows x 5 columns]